.login-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url(../img/login-bg.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(2px);
}

.search-panel {
  margin-top: 5%;
}

.font-awesome-input {
  font-family:Arial, FontAwesome;
}

.header {
  width: 100%;
  height: 50px;
  background: #4286f4;  
}

.give-space {
  margin-top: 2%;
}

.error-message {
  border: 1px;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  background: #f2dede;
}

.index-content {
  margin-top: 10%;
}

.search-content {
  margin-top: 5%;
}

.gray-panel-box {
  background-color: rgba(230, 230, 230);
  padding: 15px;
}

.panel-box {
  background-color: rgba(255, 255, 255, 0.60);
  padding: 15px;
}

.form-input {
  margin-top: 10px;
}

.form-enter {
  margin-top: 20px;
}

.form-input:focus {
  border-color: #000;
}